.h1 {
    font-size: 70px;
    padding-left: 20px;
    color: darkblue;
    font-weight: bold;
    font-family: verdana;
}

.title2 {
    font-size: 70px;
    padding-left: 20px;
    font-family: verdana;
    color: rgb(141, 46, 1);
}